<%- layout('layouts/boilerplate') %>

<div class="container mt-5">
    <h2 class="mb-4">Add New User</h2>

    <form action="/admin/users/add" method="POST" class="needs-validation">

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input 
                type="text" 
                name="username" 
                class="form-control" 
                required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input 
                type="email" 
                name="email" 
                class="form-control" 
                required>
        </div>


        <div class="mb-3">
            <label class="form-label">Role</label>
            <select name="role" class="form-select">
                <option value="student">Student</option>
                <option value="librarian">Librarian</option>
                <option value="admin">Admin</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input 
                type="password" 
                name="password" 
                class="form-control" 
                required>
        </div>

        <button type="submit" class="btn btn-primary">Add User</button>
        <a href="/admin/users" class="btn btn-secondary">Cancel</a>
    </form>
</div>